body {
  overflow: auto;
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}

#scroll-table {
	border: 1px s;
	border-collapse:collapse; 
	table-layout:fixed;
	width:auto;
}



th, td{
	border-bottom: 1px solid #ddd;
	padding: 5px;
    text-align: left;
    height: 30px;
    vertical-align: middle;
    width: 100%;
}


tr:hover {background-color: #f5f5f5}
tr:nth-child(even) {background-color: #f2f2f2}


th {
    background-color: #0b543c;
    color: white;
    opacity: .7;
    
}

#messages {
    height:270px;
    width:430px;
    position: fixed;
    margin-top:20px;    
    top: 180px;
    right: 160px;
}

#scrollable{      
	overflow:auto;	
    position: fixed;
    height:270px;
    width:430px;
        
    
}

#table_header {
    font-family: "Helvetica Neue", Helvetica;
    font-size: 14px;
    text-align: left;
    text-indent: 5px;
}

#possible_fraud {
    font-family: "Helvetica Neue", Helvetica;
    font-size: 11px;
    text-align: left;
    text-indent: 5px;
}


.usmap {
	align: left;
	padding-left: 50px;
}

.banner {
	font-size: 18px;
    text-indent: 5px;
	color: #0b543c;
	font: bold;	
	padding-top: 20px;
	padding-bottom: 30px;
}



#chart, #header, #footer {
  position: absolute;
  top: 0;
}

#header, #footer {
  z-index: 1;
  display: block;
  font-size: 36px;
  font-weight: 300;
  text-shadow: 0 1px 0 #fff;
}

#combo {
  position: absolute;
  top: 10px;
  right: 140px;
  width: 1000px;
  font-size: 14px;
  text-align: right;
}

#header.inverted, #footer.inverted {
  color: #fff;
  text-shadow: 0 1px 4px #000;
}

#header {
  top: 80px;
  left: 140px;
  width: 1000px;
}

#footer {
  top: 680px;
  right: 140px;
  text-align: right;
}

rect {
  fill: none;
  pointer-events: all;
}

pre {
  font-size: 18px;
}

line {
  stroke: #000;
  stroke-width: 1.5px;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}

a:link, a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #666;
}

.hint {
  position: absolute;
  right: 0;
  width: 1280px;
  font-size: 12px;
  color: #999;
}