**/target/**/*.*
**/*.log
**/logs/**/*.*
vf.gf.*
**/build/**/*.*
**/bin/**/*.*
*.log
**/.idea/**/*.*
**/.gradle/**/*.*
**/gradle/**/*.*
**/.class
**/.Rapp.history
**/.settings
**/.cache-main
**/.DS_store
**/.classpath
**/.springBeans
**/server1/**/*.*
**/locator/**/*.*
start-scdf-*.sh
dump.rdb
